example.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://appserver.canada.com/SouthPARC/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://appserver.canada.com/SouthPARC/">
	<xs:complexType name="Publication">
		<xs:sequence>
			<xs:element minOccurs="0" name="Editions" nillable="true" type="tns:ArrayOfEdition"/>
			<xs:element minOccurs="0" name="Sections" nillable="true" type="tns:ArrayOfSection"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Publication" nillable="true" type="tns:Publication"/>
	<xs:complexType name="ArrayOfEdition">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Edition" nillable="true" type="tns:Edition"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfEdition" nillable="true" type="tns:ArrayOfEdition"/>
	<xs:complexType name="Edition">
		<xs:sequence>
			<xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Edition" nillable="true" type="tns:Edition"/>
	<xs:complexType name="ArrayOfSection">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Section" nillable="true" type="tns:Section"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfSection" nillable="true" type="tns:ArrayOfSection"/>
	<xs:complexType name="Section">
		<xs:sequence>
			<xs:element minOccurs="0" name="AdContentKey" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Galleries" nillable="true" type="tns:ArrayOfGallery"/>
			<xs:element minOccurs="0" name="ID" type="xs:int"/>
			<xs:element minOccurs="0" name="MobileTemplate" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Stories" nillable="true" type="tns:ArrayOfStory"/>
			<xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Section" nillable="true" type="tns:Section"/>
	<xs:complexType name="ArrayOfGallery">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Gallery" nillable="true" type="tns:Gallery"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGallery" nillable="true" type="tns:ArrayOfGallery"/>
	<xs:complexType name="Gallery">
		<xs:sequence>
			<xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfImage"/>
			<xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Gallery" nillable="true" type="tns:Gallery"/>
	<xs:complexType name="ArrayOfImage">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage"/>
	<xs:complexType name="Image">
		<xs:sequence>
			<xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Credit" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Distributor" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="URL" nillable="true" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Image" nillable="true" type="tns:Image"/>
	<xs:complexType name="ArrayOfStory">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Story" nillable="true" type="tns:Story"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfStory" nillable="true" type="tns:ArrayOfStory"/>
	<xs:complexType name="Story">
		<xs:sequence>
			<xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="AllowComments" type="xs:boolean"/>
			<xs:element minOccurs="0" name="Body" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Byline" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Copyright" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Edition" nillable="true" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="ID" type="xs:int"/>
			<xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImage"/>
			<xs:element minOccurs="0" name="RelatedStories" nillable="true" type="tns:ArrayOfStory"/>
			<xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="URL" nillable="true" type="xs:anyURI"/>
			<xs:element minOccurs="0" name="Version" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Videos" nillable="true" type="tns:ArrayOfVideo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Story" nillable="true" type="tns:Story"/>
	<xs:complexType name="ArrayOfVideo">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Video" nillable="true" type="tns:Video"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfVideo" nillable="true" type="tns:ArrayOfVideo"/>
	<xs:complexType name="Video">
		<xs:sequence>
			<xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:anyURI"/>
			<xs:element minOccurs="0" name="URL" nillable="true" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Video" nillable="true" type="tns:Video"/>
</xs:schema>
